body {
  font-family: 'Montserrat', sans-serif;
  background-image: -webkit-linear-gradient(top, #3d3f45, #3c3e45 800px);
  background-image: -webkit-linear-gradient(top, #3d3f45, #3c3e45 800px);
  background-image: -moz-linear-gradient(top, #3d3f45, #3c3e45 800px);
  background-image: -o-linear-gradient(top, #3d3f45, #3c3e45 800px);
  background-image: -ms-linear-gradient(top, #3d3f45, #3c3e45 800px);
  background-image: linear-gradient(to bottom, #3d3f45, #3c3e45 800px); }

.container {
  width: 1024px;
  height: 683px;
  margin: 200px auto;
  background-color: #e5e5e5;
  -webkit-border-radius: 14px 14px 14px 14px;
  border-radius: 14px 14px 14px 14px;
  position: relative; }

.abas {
  width: 100%;
  height: 72px;
  position: absolute; }
  .abas ul {
    text-decoration: none;
    list-style: none; }
    .abas ul li {
      float: left; }
    .abas ul li:first-child {
      width: 80px;
      height: 76px;
      top: -42px;
      background-color: #437900;
      z-index: -1;
      position: relative;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      font-size: 23px;
      color: #fff;
      font-weight: bold; }
    .abas ul li:first-child a {
      padding: 0 49px 16px 18px;
      margin: 8px 0 0 0;
      position: absolute;
      color: #fff; }
    .abas ul li.edit {
      width: 53px;
      height: 43px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background-color: #e5e5e5;
      z-index: -1;
      position: relative;
      top: -32px;
      left: -40px; }
    .abas ul li.curv1 {
      width: 7px;
      height: 45px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 0 0 0 7px /18px;
      z-index: -1;
      position: relative;
      top: -45px;
      left: -42px;
      border-bottom: 5px solid #e5e5e5; }
    .abas ul li.curv2 {
      width: 7px;
      height: 45px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 0 0 7px /18px 0;
      z-index: -1;
      position: relative;
      top: -45px;
      left: -38px;
      border-bottom: 5px solid #e5e5e5; }
    .abas ul li.curv3 {
      width: 7px;
      height: 45px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 0 0 7px /18px 0;
      z-index: -1;
      position: relative;
      top: -45px;
      left: -94px;
      border-bottom: 5px solid #e5e5e5;
      float: right; }
    .abas ul li.curv4 {
      width: 7px;
      height: 45px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 0 0 7px /30px 0;
      z-index: -1;
      position: relative;
      top: -45px;
      right: -10px;
      border-bottom: 5px solid #007AAD;
      float: right; }
    .abas ul li.save {
      width: 53px;
      height: 54px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background-color: #007aad;
      z-index: -1;
      position: relative;
      top: -31px;
      float: right;
      right: -7px;
      box-shadow: -13px 4px 18px #888; }
    .abas ul li:last-child {
      width: 56px;
      height: 47px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background-color: #e5e5e5;
      z-index: -1;
      position: relative;
      top: -31px;
      float: right;
      position: absolute;
      right: 40px;
      z-index: -2; }

#logo {
  margin: -71px;
  position: absolute;
  width: 300px;
  text-align: center;
  left: 48%; }
  #logo h1.logoText {
    font-size: 22px;
    color: #211313; }
  #logo h2 {
    font-size: 13px;
    margin: auto;
    color: #211313;
    width: 50%;
    background-image: -webkit-linear-gradient(top, #3d3f45, #3c3e45 37px); }
  #logo hr {
    position: absolute;
    width: 100%;
    z-index: -1;
    color: #211313;
    background-color: #211313;
    height: 1px;
    border: 0; }

/*# sourceMappingURL=body.css.map */
