#description {
  position: relative;
  height: 167px;
  margin: -25px 0 0 0;
  padding: 29px 0 0px 47px; }
  #description .circle {
    position: relative;
    border-radius: 50%;
    width: 139px;
    height: 139px;
    background: #dedede;
    overflow: hidden;
    float: left; }
    #description .circle img {
      width: 144px; }
    #description .circle .edit {
      position: absolute;
      top: 110px;
      left: 7px;
      width: 125px;
      height: 30px;
      /* background-color: red; */
      background: rgba(35, 35, 35, 0.68);
      display: none; }
  #description ul.list {
    width: 810px;
    float: right; }
    #description ul.list li:first-child {
      float: none; }
    #description ul.list li {
      font-family: monospace;
      float: left; }
    #description ul.list i {
      float: left; }
    #description ul.list .name {
      font-size: 16px; }
    #description ul.list .depart {
      font-size: 12px;
      margin: 0 0 10px 0;
      float: none; }
    #description ul.list li.email {
      margin: 0 0 10px  0; }
    #description ul.list .icons.phone {
      float: left;
      margin: 3px 0 0 0; }
    #description ul.list .icons.cel {
      padding: 0 0 0 5px;
      margin: 2px 0 0 0; }
    #description ul.list .icons.phone {
      float: left;
      padding: 0 0 0 2px; }
    #description ul.list .icons.email {
      padding: 0 0 0 7px;
      float: left; }
    #description ul.list .icons.skype {
      float: left;
      padding: 0 0 0 9px; }
    #description ul.list .icons.mapa {
      padding: 0 0 0 8px;
      margin: 0 0 0 2px; }
    #description ul.list .end {
      margin: 10px 0 0 0; }

#box {
  background: white;
  width: 97%;
  height: 400px;
  margin: auto;
  border-radius: 11px;
  padding: 10px 0 0 10px; }

/*# sourceMappingURL=desc.css.map */
