.icons.Cloud {
  margin: 5px 0 0 11px; }

.icons.User {
  margin: 5px 0 0 11px; }

.icons.config {
  margin: 5px 0 0 15px; }

.icons.phone {
  float: left;
  padding: 0 0 0 2px; }

.icons.editFoto {
  margin: 5px auto; }

/*# sourceMappingURL=icons.css.map */
