.menu {
  float: right;
  margin-top: 10px;
  position: relative; }
  .menu h5 {
    float: left;
    line-height: 21px;
    padding-left: 10px;
    margin: 0;
    font-weight: normal; }
    .menu h5 a {
      display: block;
      color: #fff;
      width: 130px;
      font-size: 11px;
      text-decoration: none; }
  .menu ul {
    display: none;
    width: 286px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    border-bottom: 1px solid #fff; }
    .menu ul li {
      padding: 4px 5px;
      margin: 0;
      font-size: 11px;
      border: 1px solid #fff;
      border-width: 0 1px 0 1px; }

/*# sourceMappingURL=menu.css.map */
