.column-1 {
  width: 54%; }

.column-2 {
  width: 38.266667%; }

.column-3 {
  width: 23.8%; }

.column-4 {
  width: 32.2666666667%; }

.column-5 {
  width: 84.733333%; }

.bold19, #result ul.list ul li.name {
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  font-family: monospace; }

.font13, #result ul.list ul li.depart {
  font-size: 13px;
  font-family: monospace; }

.font12, #result ul.list ul li.fone, #result ul.list ul li.email, #result ul.list ul li.end {
  font-size: 12px;
  padding: 6px 0 0 0;
  font-family: monospace; }

.foto, #result ul.list ul li.img img {
  width: 83px;
  height: 80px;
  background: #007aad;
  border-radius: 10px 10px 10px 10px; }

#find {
  display: none; }

#result {
  position: relative;
  width: 100%;
  max-width: 956px;
  margin: auto;
  clear: both;
  display: none; }
  #result h2 {
    font-size: 22px;
    float: left; }
  #result span {
    display: block;
    font-weight: bold;
    font-size: 20px; }
  #result ul.list {
    text-decoration: none;
    list-style: none;
    position: relative;
    z-index: 1;
    width: 956px;
    background: #DDD;
    height: 98px; }
    #result ul.list li {
      float: left;
    		/*height:25px;
			padding: 6px 0 0 0;*/ }
    #result ul.list ul {
      padding: 5px 0 0 0; }
      #result ul.list ul li i {
        float: left;
        padding: 0 0 0 2px; }
      #result ul.list ul li.img {
        width: 85px;
        height: 81px;
        background: #EEEFF2;
        border-radius: 10px 10px 10px 10px;
        margin: 0 8px 8px 8px;
        border: 1px solid #CCCBCB; }
      #result ul.list ul li.depart {
        padding: 5px 0 0 0; }

/*# sourceMappingURL=result.css.map */
