.icons {
  background: url(../img/icons.png);
  background-repeat: no-repeat;
  display: block; }

.icons.mapa {
  background-position: -127px -26px;
  height: 13px;
  width: 9px; }

.icons.skype {
  background-position: -124px -7px;
  height: 13px;
  width: 13px; }

.icons.cel {
  background-position: -108px -7px;
  height: 11px;
  width: 7px; }

.icons.phone {
  background-position: -86px -6px;
  height: 12px;
  width: 12px; }

.icons.email {
  background-position: -62px -6px;
  height: 13px;
  width: 16px; }

.icons.editFoto {
  background-position: -43px -29px;
  height: 19px;
  width: 19px; }

.icons.Cloud {
  background-position: -1px -30px;
  height: 18px;
  width: 31px; }

.icons.User {
  background-position: -33px -1px;
  height: 22px;
  width: 20px; }

.icons.config {
  background-position: -1px -1px;
  height: 24px;
  width: 23px; }

/*# sourceMappingURL=sprite-icons.css.map */
