
#description{
    position: relative;
    height: 167px;
    margin: -25px 0 0 0;
    padding: 29px 0 0px 47px;

	.circle{
	    position: relative;
	    border-radius: 50%;
	    width: 139px;
	    height: 139px;
	    background: #dedede;
		overflow: hidden;
		float:left;
	    img{
	    	width:144px;
	    }
	    .edit{
		    position: absolute;
		    top: 110px;
		    left: 7px;
		    width: 125px;
		    height: 30px;
		    /* background-color: red; */
		    background: rgba(35, 35, 35, 0.68);
		    display: none;
		}
	}

	ul.list{
	    width: 810px;
	    float: right;
	    li:first-child{
			float: none;
	     }
	    li{
	    	font-family: monospace;
	    	float: left;
	    	
	    }
	    i{
	    	float:left;
	    }
	    .name{
    		font-size: 16px;
	    }
	    .depart{
		    font-size: 12px;
		    margin: 0 0 10px 0;
		    float: none;
	    }
	    li.email{
	    	margin: 0 0 10px  0;	
	    }
	    .icons.phone{
	    	float: left;
   			margin: 3px 0 0 0;
	    }
	    .icons.cel{
	    	padding: 0 0 0 5px;
   			margin: 2px 0 0 0;
	    }
		.icons.phone {
		    float: left;
		    padding: 0 0 0 2px;
		}
		.icons.email {
		    padding: 0 0 0 7px;
		    float: left;
		}
		.icons.skype {
		    float: left;
		    padding: 0 0 0 9px;
		}	    
		.icons.mapa {
		    padding: 0 0 0 8px;
		    margin: 0 0 0 2px;
		}
		.end{			
			margin:10px 0 0 0;
		}
	}
}	
#box{
    background: white;
    width: 97%;
    height: 400px;
    margin: auto;
    border-radius: 11px;
    padding: 10px 0 0 10px;

    
}

