input[type="text"] {
    width: 68%;
    height: 60px;
    background: #fff;
    border: 1px solid #fff;
    color: #676069;
    font-size: 30px;
    font-weight: 700;
    text-indent: 10px;
    margin: 0 2% 70px 0;
    float: left;
}
input[type="button"] {
    width: 15%;
    height: 60px;
    background: #835b8d;
    border: 1px solid #835b8d;
    transition: all .2s;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: block;
    float: left;
}