.column-1 {
  width: 54%;
}
 
.column-2 {
  width: 38.266667%;
}
 
.column-3 {
  width: 23.8%;
}
 
.column-4 {
  width: 32.2666666667%;
}
 
.column-5 {
  width: 84.733333%;
}
.bold19{
	font-size: 19px;
    font-style: normal;
    font-weight: bold;
    font-family: monospace;
}
.font13{
	font-size: 13px;
    font-family: monospace;
}
.font12{
	font-size: 12px;
    padding: 6px 0 0 0;
    font-family: monospace;
}
.foto{
    width: 83px;
    height: 80px;
    background: #007aad;
    border-radius: 10px 10px 10px 10px;
}
#find{
	display:none;
}
#result{
    position: relative;
    width: 100%;
    max-width: 956px;
    margin: auto;
    clear: both;
    display:none;
    h2{
    	font-size:22px;
    	float:left;
    }
    span{
	    display: block;
	    font-weight: bold;
	    font-size: 20px;
    }

    ul.list{
	    text-decoration: none;
	    list-style: none;
	    position: relative;
	    z-index: 1;
	    width: 956px;
	    background: #DDD;
	    height: 98px;
		
    	li{
    		float:left;
    		/*height:25px;
			padding: 6px 0 0 0;*/
    	}
    	ul{
    		padding: 5px 0 0 0;
    		li{
    			i{
					float: left;
					padding: 0 0 0 2px;
    			}
    		}
	    	li.img{
			    width: 85px;
			    height: 81px;
			    background: #EEEFF2;
			    border-radius: 10px 10px 10px 10px;
			    margin: 0 8px 8px 8px;
			    border: 1px solid #CCCBCB;
				img{
					@extend .foto
				}
	    	}
	    	li.name{
	    		@extend .bold19;
	    		
	    	}
	    	li.depart{
	    		@extend .font13;
	    		padding: 5px 0 0 0;
	    	}
	    	li.fone, li.email, li.end{
	    		@extend .font12;
	    	}


    	}
    }
}

