{{>modules/headerTop}}
<body>
<div class="container">

	<div class="abas">
		<ul>
			<li><a href=""> + </a></li>
			<li class="testcur"></li>
			<li class="curv2"></li>
			<li class="edit"><a href="#" class="icons config"></a>	</li>
			<li class="curv1"></li>
			<li>
				<div id="logo">
					<h1 class="logoText">People</h1>
					<hr>
					<h2>Agenda interna</h2>
		 		</div>
			</li>					
			<li class="curv3"></li>
			<li class="save"><a href="" class="icons Cloud"></a></li>
			<li class="curv4"></li>
			<li> <a href="" class="icons User"></a></li>
		</ul>
	</div>
	<!--find and result  -->  
	<div id="find">
		<form action="">
			<label for=""></label>
			<input type="text" name="find">
			<input type="button" value="Click me">
		</form>
	</div>
	
	<div id="result">
		<h2>Results</h2>
		<span>10</span>
		<hr>
		
		<ul class="list">
			<li>
				<ul>
					<li class="img">  <img src="./img/foto.jpg" alt=""> </li>
					<li class="column-1 name">Jaffar cardoso</li>
					<li class="column-2 depart">people - Front End</li>
					<li class="column-4 email"> <i class="icons email"></i> Jaffar.cardoso@gmaill.com</li>
					<li class="column-3 fone"> <i class="icons skype"></i> jaffar_c</li>
					<li class="column-3 fone"> <i class="icons phone"></i> +55 11 96912-6640</li>
					<li class="column-3 fone"> <i class="icons cel"></i> +55 11 96912-6640</li>
					<li class="column-5 end"> <i class="icons mapa" ></i> Rua maria salete de castro marmo , 451</li>
				</ul>
			</li>
	
		</ul>

	</div>
	<!--find and result  -->  


	<div id="description">
	<div class="circle">
		<img src="img/foto.jpg" alt="">
    	<div class="edit">
    		<a href="#" class="icons editFoto"></a>
    	</div>
	</div>
		<div class="info">
			<ul class="list">

				<li class="column-1 name">Jaffar cardoso</li>
				<li class="column-2 depart">people - Front End</li>
				<li class="column-5 email"> <i class="icons email"></i> Jaffar.cardoso@gmaill.com</li>
				<li class="column-3 fone"> <i class="icons skype"></i> jaffar_c</li>
				<li class="column-3 fone"> <i class="icons phone"></i> +55 11 96912-6640</li>
				<li class="column-3 fone"> <i class="icons cel"></i> +55 11 96912-6640</li>
				<li class="column-5 end"> <i class="icons mapa" ></i> Rua maria salete de castro marmo , 451</li>
			</ul>
		</div>
	</div>
	<div id="box">
		 <div id="piechart" style="width: 400px; height: 300px;"></div>
	</div>



</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

		var data = google.visualization.arrayToDataTable([
		  ['linguagem', 'Nivel de conhecimento'],
		  ['html5',     11],
		  ['css',      2],
		  ['css3',  2],
		  ['javascript', 18],
		  ['Grunt',    7]
		]);

		var options = {
		  title: 'Skill:'
		};

		var chart = new google.visualization.PieChart(document.getElementById('piechart'));

		chart.draw(data, options);
	}
</script>
{{>modules/footer}}


