<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <title>{{data.title}}</title>

    <meta charset="utf-8"/>
   	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='-1'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="description" content="Desenvolvedor Web" />
	<link href='https://fonts.googleapis.com/css?family=Oswald|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link href="/css/general-min-un.css" rel="stylesheet"  type='text/css'/>


   